div img{
    width: 50%;
  margin-left: 25%;
  margin-top: 100px;
    border:5px solid white
}
body{
    background-color: black;
}
h1{
    color:white;
    font-family:'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 3rem;
    text-align:center;
}
p{
    color:white;
    font-family:'Libre Baskerville', serif;
    text-align: center;
}